<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">A brief and incomplete history</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/jmu.jpg" alt="JMU Seal">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1993-1998</h4>
                                    <h4 class="subheading">James Madison University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Music, Architecture, Scenic Design, and Stage Management</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/wtc.jpg" alt="NYC Skyline">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998-2000</h4>
                                    <h4 class="subheading">The New York Years</h4>
                                    <h4 class="subheading">Part 1: Events</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Production Manager for one of NYC's most prestegious event design companies.  Million dollar parties were my jam.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/iatse.jpg" alt="IATSE BUG">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2008</h4>
                                    <h4 class="subheading">The Tour Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Head Carpenter for 15 national tours.  340 cities in 49 states in 8 years.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tv.jpg" alt="TV">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004-2013</h4>
                                    <h4 class="subheading">The New York Years</h4>
                                    <h4 class="subheading">Part 2: The TV Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Project Manager and co-host for over a dozen different home-makeover shows on 3 networks.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bds.jpg" alt="BDS">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2014</h4>
                                    <h4 class="subheading">The New York Years</h4>
                                    <h4 class="subheading">Part 3: Self Employed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taking my TV experience to the next level, I started a home-makeover focused high-speed build company.  Both on- and off-camera, Bug Dog Studios built the stuff others loved to take credit for.  We also built the sets for several competition reality shows.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/datg.jpg" alt="DATG">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 and Beyond</h4>
                                    <h4 class="subheading">The California Years</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taking a "real job" in California, I'm now making sure all the videos, games, and images show up in all of the <strong>Disney | ABC Television</strong> streaming media apps.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>What's
                                    <br />
                                    <br>Next?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>