    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>I am currently a Specialist with the <em>Disney|ABC Television Group</em>, making sure video and images show up where they should in all the Disney and ABC streaming apps.</h2>  
                
                <p>In a former life, I was a Basic Cable Micro Celebrity&trade;, a carpenter and host for HGTV and TLC, a custom furniture shop owner, and a union stagehand. Nerdery is my passion and hobby.</p>
              <br/>
                <p>This page is for identity and linking to things I do on the internet. For regularly updated info, check out my blog,<p> <a href="https://www.cocktailsandcoffee.com"  target="_blank">Cocktails & Coffee</a>, </p>or follow me on the social things.  Links for my social activities are at the bottom of this page.</p>
                <br/>
              </div>
        </div>
    </section>
