<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/datg.png" class="img-responsive img-centered" alt="Disney ABC Television Group">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/diy.png" class="img-responsive img-centered" alt="diy">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/fine.png" class="img-responsive img-centered" alt="Fine Living">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/food.png" class="img-responsive img-centered" alt="Food Network">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/fyi.png" class="img-responsive img-centered" alt="fyi">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/hgtv.png" class="img-responsive img-centered" alt="HGTV">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/style.png" class="img-responsive img-centered" alt="Style">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/tlc.png" class="img-responsive img-centered" alt="TLC">
                    </a>
                </div>
            </div>
        </div>
    </aside>